.product {
  border: 2px solid blueviolet;
  padding: 5px;
  margin: 5px 20px;
}

.product .name {
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
}

.product .description {
  color: #aaa;
  font-size: 14px;
}

.product p {
  margin: 0;
}

.product.unavailable {
  border: 2px solid red;
}
